body {
    background: rgb(43, 168, 226);
    color:rgb(21, 124, 76);
}

header{
    border-bottom: solid 2px var (rgb(65, 65, 122));
    padding: 20px;
    font-size: 30px;
    color:aliceblue
 }
 
 section {
    background: #782f5d;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

  .chamada-texto { 
    margin-right:7%;

  }